[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = ~/.gitignore
	pager = delta
	autocrlf = input
	ignorecase = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
[alias]
	st = status
	ll = log --oneline
	d = diff
	sp = stash pop
	# typos
	ad = add
	bisec = bisect
	b = branch --sort=-committerdate
	bisetc = bisect
	branhc = branch
	breach = branch
	breanch = branch
	checkotu = checkout
	checkou = checkout
	checout = checkout
	cherrypick = cherry-pick
	cp = cherry-pick
	cloen = clone
	comit = commit
	comitt = commit
	committ = commit
	dif = diff
	fetc = fetch
	fethc = fetch
	greo = grep
	grp = grep
	grpe = grep
	hceckout = checkout
	mereg = merge
	merg = merge
	rbanch = branch
	stat = status
	statis = status
	stats = status
	statsu = status
	statsus = status
	statu = status
	statys = status
	stauts = status
	sttus = status
	submodules = submodule
	tags = tag
	zip = archive HEAD -o
	# https://stackoverflow.com/a/23486788
	squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} \"$@\");};f"
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = true
	side-by-side = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[push]
	default = upstream
	autoSetupRemote = true
[include]
	path = "~/.config/git/longnghia.config"
[includeIf "gitdir:/Volumes/DATA/GO/"]
	path = "~/.config/git/go.github.config"
[includeIf "gitdir:/Volumes/DATA/GO/oyika/"]
	path = "~/.config/git/go.bitbucket.config"
[init]
	defaultBranch = main
